<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gysibeck</title>

    <link href="../lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../css/stylesheet.css" rel="stylesheet">
    <link href="../css/timeline.css" rel="stylesheet">
    <link href="../css/image-hover.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="../js/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/lightbox.js"></script>
</head>

<body>
<nav class="navbar-default navbar-fixed-top">
    <div class="row">
        <div class="col-md-offset-2 col-md-3 pull-left">
            <a href="../index.html"><img src="../img/logo.png" style="height: 45px;" alt="Gysibeck Logo"></a>
        </div>
        <div class="container col-md-5 col-md-offset-2">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse js-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="../index.html">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Produkte <span class="caret"></span></a>
                        <ul class="dropdown-menu navbar-dropdown">
                            <li><a href="product_torten.html">Torten</a></li>
                            <li><a href="#">Znüni</a></li>
                            <li><a href="#">Schokolade</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="#">Über uns</a></li>
                    <li><a href="contact.html">Kontakt</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</nav>

<div class="container-fluid container-background" role="main">
  <div class="row">
      <div class="col-md-5 col-md-offset-2">
          <h2>Gysibeck, mehr als nur eine Bäckerei</h2>
      </div>
  </div>
  <br>
  <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <!--timeline-->
              <ul class="timeline">
                <li>
                  <div class="timeline-badge primary"><i class="fa fa-dot-circle-o"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <img class="img-responsive" src="../img/timeline/uebergabe.png" alt="Übergabe"/>
                    </div>
                    <div class="timeline-body">
                      <h4 class="timeline-title"><b>Februar 2015 - Übergabe an Sohn Adrian Gysi</b></h4>
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-badge primary"><i class="fa fa-dot-circle-o"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <img class="img-responsive" src="../img/timeline/beinwil_am_see.png" alt="Beinwil am See"/>
                    </div>
                    <div class="timeline-body">
                      <h4 class="timeline-title"><b>Juli 2014 - Eröffnung Filiale Beinwil am See</b></h4>
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    </div>
                  </div>
                </li>
                <li class="timeline">
                  <div class="timeline-badge primary"><i class="fa fa-dot-circle-o"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <img class="img-responsive" src="../img/timeline/placeholder.png" alt="placeholder"/>
                    </div>
                    <div class="timeline-body">
                      <h4 class="timeline-title"><b>Mai 2007 - Lorem ipsum dolor sit</b></h4>
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-badge primary"><i class="fa fa-dot-circle-o"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <img class="img-responsive" src="../img/timeline/placeholder.png" alt="placeholder"/>
                    </div>
                    <div class="timeline-body">
                      <h4 class="timeline-title"><b>März 2001 - Lorem ipsum dolor sit</b></h4>
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    </div>
                  </div>
                </li>
                <li class="timeline">
                  <div class="timeline-badge primary"><i class="fa fa-dot-circle-o"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <img class="img-responsive" src="../img/timeline/eroffnung.jpg" />
                    </div>
                    <div class="timeline-body">
                      <h4 class="timeline-title"><b>September 1999 - Gründung Gysibeck</b></h4>
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    </div>
                  </div>
                </li>
                <li class="clearfix" style="float: none;"></li>
              </ul>
            </div><!-- end of timeline-->
    </div>
  </div>
</div>

<div class="footer container-fluid">
    <div class="row">
        <br>
        <div class="col-md-3 col-md-offset-2">
            Zetzwil<br>
            Hauptstrasse 62<br>
            5732 Zetzwil<br><br>
            Tel: 062 773 12 70<br><br>
            Öffnungszeiten:<br>
            Mo-Fr: 05.00 – 18.30 Uhr <br>
            Sa: 09.00 – 17.00 Uhr <br>
        </div>
        <div class="col-md-3 footer-border-left">
            Unterkulm<br>
            Hauptstrasse 16<br>
            5726 Unterkulm<br><br>
            Tel: 062 773 36 89<br><br>
            Öffnungszeiten:<br>
            Mo-Fr: 05.00 – 18.30 Uhr <br>
            Sa: 09.00 – 17.00 Uhr <br>
        </div>
        <div class="col-md-3 footer-border-left">
            Beinwil am See<br>
            Häsigasse 1<br>
            5712 Beinwil am See<br><br>
            Tel: 062 771 19 13<br><br>
            Öffnungszeiten:<br>
            Mo-Fr: 05.00 – 18.30 Uhr <br>
            Sa: 09.00 – 17.00 Uhr <br>
        </div>
    </div>
    <br>
</div>
</body>
</html>
