<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gysibeck</title>

    <link href="../lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../css/stylesheet.css" rel="stylesheet">
    <link href="../css/image-hover.css" rel="stylesheet">

    <script src="../js/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar-default navbar-fixed-top">
    <div class="row">
        <div class="col-md-offset-2 col-md-3 pull-left">
            <a href="../index.html"><img src="../img/logo.png" style="height: 45px;" alt="Gysibeck Logo"></a>
        </div>
        <div class="container col-md-5 col-md-offset-2">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse js-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="../index.html">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Produkte <span class="caret"></span></a>
                        <ul class="dropdown-menu navbar-dropdown">
                            <li><a href="product_torten.html">Torten</a></li>
                            <li><a href="#">Znüni</a></li>
                            <li><a href="#">Schokolade</a></li>
                        </ul>
                    </li>
                    <li><a href="about.html">Über uns</a></li>
                    <li class="active"><a href="#">Kontakt</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</nav>

<div class="container-fluid container-background" role="main">
    <div class="row">
        <div class="col-md-5 col-md-offset-2">
            <h2>Hier finden Sie uns</h2>
        </div>
    </div>
    <div class="row contact-background">
        <div class="col-md-5 col-md-offset-2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2706.499412368156!2d8.149736315382162!3d47.285039318129364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4790186797ae5fbf%3A0xece78276a9edb17c!2sB%C3%A4ckerei-Konditorei+Gysi+AG!5e0!3m2!1sde!2sch!4v1481892154733"
                    class="google-maps-frame" allowfullscreen></iframe>
        </div>
        <div class="col-md-3 address">
            <h3>Zetzwil</h3>
            Hauptstrasse 62<br>
            5732 Zetzwil<br><br>
            Tel: 062 773 12 70<br><br>
            Öffnungszeiten:<br>
            Mo-Fr: 05.00 – 18.30 Uhr <br>
            Sa: 09.00 – 17.00 Uhr <br>
        </div>
    </div>
    <hr class="col-md-8 col-md-offset-2">
    <div class="row contact-background">
        <div class="col-md-5 col-md-offset-2">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43303.94433899038!2d8.11690555252375!3d47.28509582645403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479022b77a3a1b6f%3A0xac08d7c27880d2d!2sB%C3%A4ckerei-Konditorei+Gysi+AG!5e0!3m2!1sde!2sch!4v1481892277653"
                    class="google-maps-frame" allowfullscreen></iframe>
        </div>
        <div class="col-md-3 address">
            <h3>Unterkulm</h3>
            Hauptstrasse 16<br>
            5726 Unterkulm<br><br>
            Tel: 062 773 36 89<br><br>
            Öffnungszeiten:<br>
            Mo-Fr: 05.00 – 18.30 Uhr <br>
            Sa: 09.00 – 17.00 Uhr <br>
        </div>
    </div>
    <hr class="col-md-8 col-md-offset-2">
    <div class="row contact-background">
        <div class="col-md-5 col-md-offset-2">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2707.4445327963463!2d8.201140815381503!3d47.266564119399!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479019716e7f56c1%3A0xf9e7bdf2ced13960!2sB%C3%A4ckerei-Konditorei+Gysi+AG!5e0!3m2!1sde!2sch!4v1481892335660"
                    class="google-maps-frame" allowfullscreen></iframe>
        </div>
        <div class="col-md-3 address">
            <h3>Beinwil am See</h3>
            Häsigasse 1<br>
            5712 Beinwil am See<br><br>
            Tel: 062 771 19 13<br><br>
            Öffnungszeiten:<br>
            Mo-Fr: 05.00 – 18.30 Uhr <br>
            Sa: 09.00 – 17.00 Uhr <br>
        </div>
    </div>
</div>


<div class="footer container-fluid">
    <div class="row">
        <br>
        <div class="col-md-3 col-md-offset-2">
            Zetzwil<br>
            Hauptstrasse 62<br>
            5732 Zetzwil<br><br>
            Tel: 062 773 12 70<br><br>
            Öffnungszeiten:<br>
            Mo-Fr: 05.00 – 18.30 Uhr <br>
            Sa: 09.00 – 17.00 Uhr <br>
        </div>
        <div class="col-md-3 footer-border-left">
            Unterkulm<br>
            Hauptstrasse 16<br>
            5726 Unterkulm<br><br>
            Tel: 062 773 36 89<br><br>
            Öffnungszeiten:<br>
            Mo-Fr: 05.00 – 18.30 Uhr <br>
            Sa: 09.00 – 17.00 Uhr <br>
        </div>
        <div class="col-md-3 footer-border-left">
            Beinwil am See<br>
            Häsigasse 1<br>
            5712 Beinwil am See<br><br>
            Tel: 062 771 19 13<br><br>
            Öffnungszeiten:<br>
            Mo-Fr: 05.00 – 18.30 Uhr <br>
            Sa: 09.00 – 17.00 Uhr <br>
        </div>
    </div>
    <br>
</div>
</body>
</html>