<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="gysibeck.ch">
    <meta name="author" content="wsc3 Group 2">

    <title>Gysibeck</title>

    <link href="../lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../css/stylesheet.css" rel="stylesheet">
    <link href="../css/lightbox.css" rel="stylesheet">

    <script src="../js/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/lightbox.js"></script>
</head>

<body>
<nav class="navbar-default navbar-fixed-top">
    <div class="row">
        <div class="col-md-offset-2 col-md-3 pull-left">
            <a href="../index.html"><img src="../img/logo.png" style="height: 45px;" alt="Gysibeck Logo"></a>
        </div>
        <div class="container col-md-5 col-md-offset-2">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse js-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="../index.html">Home</a></li>
                    <li class="active dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Produkte <span class="caret"></span></a>
                        <ul class="dropdown-menu navbar-dropdown">
                            <li><a href="product_torten.html">Torten</a></li>
                            <li><a href="#">Znüni</a></li>
                            <li><a href="#">Schokolade</a></li>
                        </ul>
                    </li>
                    <li><a href="about.html">Über uns</a></li>
                    <li><a href="contact.html">Kontakt</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</nav>

<div class="container-fluid container-background" role="main">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 product-background">
            <div class="row">
                <div class="col-md-12 product-back-bg">
                    <p class="product-torte-back-label">
                      <a href="#">Produkte</a> &nbsp;/&nbsp;
                      <a href="product_torten.html" class="product-back-link">Torten</a>
                      &nbsp;/ &nbsp;Nutella Torte
                    </p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <a href="../img/products/torten/nutella_torte.jpeg" data-lightbox="nutella_torte" data-title="">
                        <img class="img-responsive" src="../img/products/torten/nutella_torte.jpeg" alt="nutella torte">
                    </a>
                </div>
                <div class="col-md-6">
                    <p class="product-info-title"><b>Nutella Torte</b></p>
                    <p>Die Nutella Torte wird nach dem Geheim Rezept von Oma Gysin hergestellt. Das Rezept wird seit
                        mehreren Jahrzenten von Generation zu Generation weitergegeben und es wird mit sehr viel Liebe umgesetzt.
                        Es werden nur frische Zutaten verwendet</p><br>
                    <p class="price-label"><b>Beinhaltet:</b></p>
                    <p>Eigelb, Zucker, Vanillezucker, Wasser,
                        Öl, Kakao, Mehl, Backpulver, Eiweiß, Guma Pâtisserie Creme, Staubzucker, Nutella und Haselnuss
                    </p><br>
                    <p class="price-label"><b>Preis:</b></p>
                    <p class="price-label-detail-view">18cm - CHF 15.00</p>
                    <p class="price-label-detail-view">26cm - CHF 35.00</p>
                    <p >Nur in <a href="contact.html" class="product-back-link">Zetzwil</a> verfügbar</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">
                    <a href="../img/products/torten/nutella_prod1.jpg" data-lightbox="nutella_torte" data-title="">
                        <img class="img-responsive" src="../img/products/torten/nutella_prod1.jpg" alt="nutella torte">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="../img/products/torten/nutella_prod2.jpg" data-lightbox="nutella_torte" data-title="">
                        <img class="img-responsive" src="../img/products/torten/nutella_prod2.jpg" alt="nutella torte">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="../img/products/torten/nutella_prod3.jpg" data-lightbox="nutella_torte" data-title="">
                        <img class="img-responsive" src="../img/products/torten/nutella_prod3.jpg" alt="nutella torte">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer container-fluid">
    <div class="row">
        <br>
        <div class="col-md-3 col-md-offset-2">
            Zetzwil<br>
            Hauptstrasse 62<br>
            5732 Zetzwil<br><br>
            Tel: 062 773 12 70<br><br>
            Öffnungszeiten:<br>
            Mo-Fr: 05.00 – 18.30 Uhr <br>
            Sa: 09.00 – 17.00 Uhr <br>
        </div>
        <div class="col-md-3 footer-border-left">
            Unterkulm<br>
            Hauptstrasse 16<br>
            5726 Unterkulm<br><br>
            Tel: 062 773 36 89<br><br>
            Öffnungszeiten:<br>
            Mo-Fr: 05.00 – 18.30 Uhr <br>
            Sa: 09.00 – 17.00 Uhr <br>
        </div>
        <div class="col-md-3 footer-border-left">
            Beinwil am See<br>
            Häsigasse 1<br>
            5712 Beinwil am See<br><br>
            Tel: 062 771 19 13<br><br>
            Öffnungszeiten:<br>
            Mo-Fr: 05.00 – 18.30 Uhr <br>
            Sa: 09.00 – 17.00 Uhr <br>
        </div>
    </div>
    <br>
</div>
</body>
</html>
