<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="gysibeck.ch">
    <meta name="author" content="wsc3 Group 2">

    <title>Gysibeck</title>

    <link href="../lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../css/stylesheet.css" rel="stylesheet">
    <link href="../css/image-hover.css" rel="stylesheet">

    <script src="../js/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar-default navbar-fixed-top">
    <div class="row">
        <div class="col-md-offset-2 col-md-3 pull-left">
            <a href="../index.html"><img src="../img/logo.png" style="height: 45px;" alt="Gysibeck Logo"></a>
        </div>
        <div class="container col-md-5 col-md-offset-2">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse js-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="../index.html">Home</a></li>
                    <li class="active dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Produkte <span class="caret"></span></a>
                        <ul class="dropdown-menu navbar-dropdown">
                            <li><a href="product_torten.html">Torten</a></li>
                            <li><a href="#">Znüni</a></li>
                            <li><a href="#">Schokolade</a></li>
                        </ul>
                    </li>
                    <li><a href="about.html">Über uns</a></li>
                    <li><a href="contact.html">Kontakt</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</nav>

<div class="container-fluid container-background" role="main">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 product-background">
            <div class="row">
              <div class="col-md-12 product-back-bg">
                  <p class="product-torte-back-label">
                    <a href="#">Produkte</a> &nbsp;/&nbsp; Torten
                  </p>
              </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4" onclick="location.href='nutella_torte.html';">
                    <div class="hovereffect">
                        <img class="img-responsive"
                             src="../img/products/torten/nutella_torte.jpeg"
                             alt="Nutellatorte">
                    </div>
                    <p class="image-box-title">Nutellatorte <br>18cm - CHF 18.00 | 26cm - CHF 35.00</p>
                </div>
                <div class="col-md-4">
                    <div class="hovereffect">
                        <img class="img-responsive"
                             src="../img/products/torten/erbeertoren.jpg"
                             alt="Erbeertorte">
                    </div>
                    <p class="image-box-title">Erbeertorte <br>18cm - CHF 15.00 | 26cm - CHF 35.00</p>
                </div>
                <div class="col-md-4">
                    <div class="hovereffect">
                        <img class="img-responsive"
                             src="../img/products/torten/schwarzwalder_kirschtorte.jpg"
                             alt="Schwarzwälder">
                    </div>
                    <p class="image-box-title">Schwarzwälder Kirschtorte <br>18cm - CHF 15.00 | 26cm - CHF 35.00</p>
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-md-4">
                    <div class="hovereffect">
                        <img class="img-responsive"
                             src="../img/products/torten/erdbeer_sahne_torte.jpg"
                             alt="Erdbeer">
                    </div>
                    <p class="image-box-title">Erdbeer Sahne Torte<br>18cm - CHF 16.00 | 26cm - CHF 35.00</p>
                </div>
                <div class="col-md-4">
                    <div class="hovereffect">
                        <img class="img-responsive"
                             src="../img/products/torten/fero_rocher_torte.jpg"
                             alt="Fero">
                    </div>
                    <p class="image-box-title">Fero Rocher Torte<br>18cm - CHF 15.00 | 26cm - CHF 35.00</p>
                </div>
                <div class="col-md-4">
                    <div class="hovereffect">
                        <img class="img-responsive"
                             src="../img/products/torten/sahne_torte.jpg"
                             alt="Sahne">
                    </div>
                    <p class="image-box-title">Sahne Torte <br>18cm - CHF 15.00 | 26cm - CHF 30.00</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <div class="hovereffect">
                        <img class="img-responsive"
                             src="../img/products/torten/raspberry_cheesecake.jpg"
                             alt="Fero">
                    </div>
                    <p class="image-box-title">Raspberry Cheesecake<br>18cm - CHF 15.00 | 26cm - CHF 35.00</p>
                </div>
                <div class="col-md-4">
                    <div class="hovereffect">
                        <img class="img-responsive"
                             src="../img/products/torten/cappuccino_torte.jpg"
                             alt="cappuccino">
                    </div>
                    <p class="image-box-title">Cappuccino Torte<br>18cm - CHF 15.00 | 26cm - CHF 35.00</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer container-fluid">
    <div class="row">
        <br>
        <div class="col-md-3 col-md-offset-2">
            Zetzwil<br>
            Hauptstrasse 62<br>
            5732 Zetzwil<br><br>
            Tel: 062 773 12 70<br><br>
            Öffnungszeiten:<br>
            Mo-Fr: 05.00 – 18.30 Uhr <br>
            Sa: 09.00 – 17.00 Uhr <br>
        </div>
        <div class="col-md-3 footer-border-left">
            Unterkulm<br>
            Hauptstrasse 16<br>
            5726 Unterkulm<br><br>
            Tel: 062 773 36 89<br><br>
            Öffnungszeiten:<br>
            Mo-Fr: 05.00 – 18.30 Uhr <br>
            Sa: 09.00 – 17.00 Uhr <br>
        </div>
        <div class="col-md-3 footer-border-left">
            Beinwil am See<br>
            Häsigasse 1<br>
            5712 Beinwil am See<br><br>
            Tel: 062 771 19 13<br><br>
            Öffnungszeiten:<br>
            Mo-Fr: 05.00 – 18.30 Uhr <br>
            Sa: 09.00 – 17.00 Uhr <br>
        </div>
    </div>
    <br>
</div>
</body>
</html>
